<%- include partials/head.ejs %>
<%- include partials/header.ejs %>


<div class="container-fluid box1">
    <div class="row">
        <div class="div-titulo">
            <h1 class="display-4 text-primary tit">EScode</h1>
            <br>
            <p class="lead leg-tit">Transforme a sua ideia em código. </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
           <h3>Tecnologia para sua empresa</h3>
        </div>
    </div>
</div>


<%- include partials/footer.ejs %>